*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
}

body{
	font:15px/1.5 helvetica,san-serif;
	padding: 0;
	margin:0;
	background-color: #3a2e2e;

}
header{
	text-align: center;
	margin-top: 50px;
	color: rgb(80, 80, 161);
	font-weight: 700;
	font-size: 2rem;
	
}

form{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	gap: 1rem;
}
.todo-input{
	width: 300px;
	height: 30px;
	padding:0.5rem;
	border: none;
}
.filter-todo{
	width: 150px;
	height: 30px;
}
.todo-button{
	width: 50px;
	height: 30px;
	background-color:lightcoral;
	font-weight: 700;
	cursor: pointer;
	padding:0.5rem;
	border: none;
}

.todo-container{
	margin-top: 50px;
	display:flex;
	justify-content: center;
	
	
}
.todo-list{
	
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap:1rem;

}
.todo{
	display:flex; 



}
.todo li{
	width: 200px;
	background-color: rgb(213, 217, 223);


}

.todo li.completed{
	text-decoration: line-through;
}

.sucess-btn{
	
	background-color: green;
	color:white;
	border:none;
	outline: none;
	width: 40px;
	height: 30px;
	
}
.trash-btn{
	background-color:rgb(233, 16, 16);
	color:white;
	border:none;
	outline: none;
	margin-left: 5px;
	width: 40px;
	height: 30px;
}